
<ion-content>
  <div class="tab1-interview-header">
    <ion-button color="black" class="back-button" (click)="go()">
      <img class="back-icon"src="../../assets/Vector.png">
    </ion-button>
  </div>

  
  <h1 class="cashier"><strong>Averages & Requirements</strong></h1>
      
  <div class="border">
    <h1 class="text"><strong class="pay-text">Average pay :</strong> <br> $10.94 per hour</h1>
  </div>

  <div class="border2">
    <h1 class="text">Proactivity</h1>
  </div>

  <div class="border3">
    <h1 class="text">Teamwork</h1>
  </div>

  <div class="border4">
    <h1 class="text">Vigilance</h1>
  </div>

  <div class="border5">
    <h1 class="text">Good Numeracy Skills</h1>
  </div>

  <div class="border6">
    <h1 class="text">Effective Communication</h1>
  </div>
  

  
    

</ion-content>