
.interview-page-div {
    width: 345px;
    height: 650px;
    margin: auto;
    background-color: #81C3D7;
    border-radius: 9px;
}

.interview-page-text {
    position: relative;
    top: 65px;
    left: 22px;
}

.interview-page-title {
    text-align: center;
    position: relative;
    top: 25px;
    
}

.tab-buttons {
    height: 65px;
    
}

.tab-bar {
    height: 85px;
    box-shadow: 0 -10px 8px -10px gray;
}

.tab1-interview-header {
    background-color: #5EA0BE;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 80px;
}

.back-button {
    position: relative;
    bottom: -17px;
    left: 0px;
}


.cashier {
    position: relative;
    bottom: 0px;
    font-size: 35px;
    text-align: center;
    
}

.apply-button {
    position: relative;
    top: 70px;
    width: 95%;
    left: 8px;
    background-color: #5EA0BE;
}

.averages-button {
    position: relative;
    top: 80px;
    width: 95%;
    left: 8px;
    background-color: #5EA0BE;
}

.break {
    background-color: gray;
    position: relative;
    right: 30px;
    width: 600px;
}

.border {
    display: table;
    margin-top: 20px;
    border-top: solid;
    border-top-width: thick;
    border-top-color: black;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-bottom-color: gray;
}

.border2 {
    display: table;
    margin-top: 20px;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-color: gray;
}

.border3 {
    display: table;
    margin-top: 20px;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-color: gray;
}

.border4 {
    display: table;
    margin-top: 20px;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-color: gray;
}

.border5 {
    display: table;
    margin-top: 20px;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-color: gray;
}

.border6 {
    display: table;
    margin-top: 20px;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-color: gray;
}

.border7 {
    display: table;
    margin-top: 20px;
    border-bottom: solid;
    border-width: thin;
    height: 100px;
    width: 100%;
    border-color: gray;
}

.mcdonald {
    position: absolute;
    top: 20%;
    left: 10px;
}

.info-div {
    position: relative;
    left: 100px;
    bottom: 18px;
    height: 1px;
}

.info {
    font-size: medium;
}
.job {
    font-size: 19px;
}
.info2 {
    font-size: medium;
    color: #5EA0BE;
}

.goTo {
    position: relative;
    left: 220px;
    bottom: 78px;
}

.text {
    text-align: center;
}
