.tab-buttons {
    background-color: #35719B;
    position: relative;
    bottom: 10px;
}

.tab-bar {
    height: 100px;
    width: 300px;
    margin: auto;
    border-radius: 9px;
    position: relative;
    top: 25px;
    
}

.ion-tabs {
    background-color: #ADD0D7 ;
}
