
<ion-content class="tab2" [fullscreen]="true">
  <div class="tab2-div">
    <h1 class = "tab2-title">Jobs For Teens</h1>
  </div>
  
  
  
  <h1 class="title-tab2">Jobs For Teens</h1>
  
  <ion-card class="cards-tab2"href="tab2-category1-content">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="cards-title">Service Industry</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

    </ion-card-content>
  </ion-card>


  <ion-card class="cards-tab2">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="cards-title">Cashier</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="cards-tab2">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="cards-title">Waiter</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="cards-tab2">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="cards-title">Display Staff</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="cards-tab2">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="cards-title">Cook</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="cards-tab2">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="cards-title">Valet</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
