

.tab1-interview-header {
    background-color: #5EA0BE;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 80px;
}

.back-button {
    position: relative;
    bottom: -17px;
    left: 0px;
}


.cashier {
    position: relative;
    bottom: 0px;
    font-size: 35px;
    text-align: center;
    
}




.border {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    position: relative;
    border-color: gray;
    height: 105px;
}

.mcdonald {
    position: absolute;
    top: 20%;
    left: 10px;
}

.info-div {
    position: relative;
    left: 100px;
    bottom: 18px;
    height: 1px;
}

.info {
    font-size: medium;
}
.job {
    font-size: 19px;
}
.info2 {
    font-size: medium;
    color: #5EA0BE;
}

.goTo {
    position: relative;
    left: 220px;
    bottom: 78px;
}









.border2 {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-top: none;
    border-bottom: solid;
    border-width: thin;
    position: relative;
    border-color: gray;
    height: 105px;
}

.walmart {
    position: absolute;
    top: 20%;
    left: 10px;
}

.info-div2 {
    position: relative;
    left: 100px;
    bottom: 18px;
    height: 1px;
}

.infor {
    font-size: medium;
}
.job2 {
    font-size: 19px;
}
.infor2 {
    font-size: medium;
    color: #5EA0BE;
}

.goTo2 {
    position: relative;
    left: 220px;
    bottom: 78px;
}






.border3 {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-top: none;
    border-bottom: solid;
    border-width: thin;
    position: relative;
    border-color: gray;
    height: 105px;
}

.pollo {
    position: absolute;
    top: 20%;
    left: 10px;
}

.info-div3 {
    position: relative;
    left: 100px;
    bottom: 18px;
    height: 1px;
}

.inform {
    font-size: medium;
}
.job3 {
    font-size: 19px;
}
.inform2 {
    font-size: medium;
    color: #5EA0BE;
}

.goTo3 {
    position: relative;
    left: 220px;
    bottom: 78px;
}











.border4 {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-top: none;
    border-bottom: solid;
    border-width: thin;
    position: relative;
    border-color: gray;
    height: 105px;
}

.JC {
    position: absolute;
    top: 20%;
    left: 10px;
}

.info-div4 {
    position: relative;
    left: 100px;
    bottom: 18px;
    height: 1px;
}

.informa {
    font-size: medium;
}
.job4 {
    font-size: 19px;
}
.informa2 {
    font-size: medium;
    color: #5EA0BE;
}

.goTo4 {
    position: relative;
    left: 220px;
    bottom: 78px;
}








.border5 {
    display: table;
    width: 100%;
    margin-top: 20px;
    border-top: none;
    border-bottom: solid;
    border-width: thin;
    position: relative;
    border-color: gray;
    height: 105px;
}

.VONS {
    position: absolute;
    top: 20%;
    left: 10px;
}

.info-div5 {
    position: relative;
    left: 100px;
    bottom: 18px;
    height: 1px;
}

.informat {
    font-size: medium;
}
.job5 {
    font-size: 19px;
}
.informat2 {
    font-size: medium;
    color: #5EA0BE;
}

.goTo5 {
    position: relative;
    left: 220px;
    bottom: 78px;
}
