
<ion-content class = "tab1"  [fullscreen]="true">
  
  <div class = "tab1-div">
    <h1 class = "tab1-title">Guide</h1>
  </div>
  
  <ion-card href="tab1-interview-content">
    <ion-card-header>
      <ion-card-subtitle>Advice</ion-card-subtitle>
      <ion-card-title>How to do an interview</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card href="">
    <ion-card-header>
      <ion-card-subtitle>Advice</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>


