
<ion-content class = "tab1"  [fullscreen]="true">
  
  <div class = "tab1-div">
    <h1 class = "tab1-title">Guide</h1>
  </div>
  
  <ion-card class = "cards" href="tab1-interview-content">
    <ion-card-header>
      <ion-card-subtitle class = "cards-color">Advice</ion-card-subtitle>
      <ion-card-title class = "cards-color">How to do an interview</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class = "cards-color">
      The job interview is probably the most important step you will take in getting your job- it’s your best chance to show the hiring manager that you’re the best person for their job!
    </ion-card-content>
  </ion-card>


  <ion-card class = "cards" href="">
    <ion-card-header>
      <ion-card-subtitle class = "cards-color">Advice</ion-card-subtitle>
      <ion-card-title class = "cards-color">How To Do An Interview</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class = "cards-color">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>


