
<ion-content class = "tab1"  [fullscreen]="true">
  
  <div class = "tab1-div">
    <h1 class = "tab1-title">Home</h1>
  </div>
  
  <ion-card class = "cards" [routerLink]="['/tab1-interview-content']">
    <ion-card-header>
      <ion-card-subtitle class = "cards-subtitle-color"><strong>Advice</strong></ion-card-subtitle>
      <ion-card-title class = "cards-title-color">How to do an interview</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class = "cards-content-color">
      The job interview is probably the most important step you will take in getting your job- it’s your best chance to show the hiring manager that you’re the best person for their job!
    </ion-card-content>
  </ion-card>


  <ion-card class = "cards" [routerLink]="['/tab1-card2-content']">
    <ion-card-header>
      <ion-card-subtitle class = "cards-subtitle-color">Advice</ion-card-subtitle>
      <ion-card-title class = "cards-title-color">How to fill out an application</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class = "cards-content-color">
      Through an application letter you can communicate to the employer how your experience and skills are relevant to the job. It lets the potential employer know you better as a person and can add value to your background.
    </ion-card-content>
  </ion-card>

</ion-content>


