.tab1-div {
    background-color: #ADD0D7;
    width: 85%;
    height: 65px;
    margin: auto;
    margin-top: 20px;
    border-radius: 9px;
}

.tab1-title {
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;

}

.cards {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    background-color: #81C3D7;
    border-radius: 9px;
}

.cards-color {
    color: white;
}





