<ion-content>
  <div class="tab1-interview-header">
    <ion-button color="black" class="back-button" [routerLink]="['/tabs/tab2']">
      <img class="back-icon"src="../../assets/Vector.png">
    </ion-button>
  </div>

    
    <div class="interview-page-text">
      <h1 class="cashier"><strong>Cashier</strong></h1>
      
      <img class="tab-2-image" src="../../assets/cashier.jpg">
      
      
      <h1><strong>Job Description</strong></h1>
      <h4>Mcdonalds Cashiers complete duties such as greeting customers, taking orders, collecting payments, recommending products, promoting special deals, matching cash with records, arranging food items on trays, adding napkins and condiments, and cleaning the premises during down time. </h4>
      
    </div>

    <a href="../tab2-category1-apply-page/"><ion-button class="apply-button">Apply</ion-button></a>
    <a href="../tab2-category1-averages/"><ion-button class="averages-button">Averages & Requirements</ion-button></a>
    

</ion-content>
