<ion-header>
  <ion-toolbar>
    <ion-title>tab2-category1-content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Here are some tips on how to do interviews</p>

  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8xdGgacsbz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</ion-content>
<ion-button [routerLink]="['/tabs/tab2']">Go  Back</ion-button>