
.interview-page-div {
    width: 345px;
    height: 650px;
    margin: auto;
    background-color: #81C3D7;
    border-radius: 9px;
}

.interview-page-text {
    position: relative;
    top: 65px;
    left: 15px;
}

.interview-page-title {
    text-align: center;
    position: relative;
    top: 25px;
    
}

.tab-buttons {
    height: 65px;
    
}

.tab-bar {
    height: 85px;
    box-shadow: 0 -10px 8px -10px gray;
}

.tab1-interview-header {
    background-color: #5EA0BE;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 80px;
}

.back-button {
    position: relative;
    bottom: -17px;
    left: 0px;
}

.tab-2-image {
    position: relative;
    width: 100%;
    right: 14px;
    bottom: 20px;
}

.cashier {
    position: relative;
    bottom: 75px;
    font-size: 35px;
    right: 10px;
    height: 2px;
}

.apply-button {
    position: relative;
    top: 70px;
    width: 95%;
    left: 8px;
    border-radius: 9px;
}

.averages-button {
    position: relative;
    top: 80px;
    width: 95%;
    left: 8px;
    border-radius: 9px;
}

.description {
    color: #8A8A8A;
}
