
<ion-content>
  <div class="tab1-interview-header">
    <h1 class="tab1-interview-header-title"><strong>Advice</strong></h1>
    <ion-button color="black" class="back-button" [routerLink]="['/tabs/tab1']">
      <img class="back-icon"src="../../assets/Vector.png">
    </ion-button>
  </div>
  
    <h1 class="title"><strong>How to do an interview</strong></h1>

    
    
      <img class="interview-image" src="../../assets/interview.jpg">
    
    
    <div class="interview-page-text">
      <h1 class="lines"><strong>Know Yourself</strong></h1>
      <h4 class="lines"><strong>Make a few lists</strong></h4>
      
      <h5 class="lines">-Your top strengths</h5>
      <h5 class="lines">-Your best skills</h5>
      <h5 class="lines">-Your biggest achievements</h5>
      
      <h1 class="text2"><strong>Research the Job You’ll be Interviewing For</strong></h1>
      <h4 class="text2"><strong>Read job description!</strong></h4>
      <h5 class="text2">-What is the company known for? What do they stand for?</h5>

    
      
    </div>


</ion-content>








