
.interview-image {
    width: 100%;
}


.interview-page-text {
    position: relative;
    top: 20px;
    left: 12px;
}

.interview-page-title {
    text-align: center;
    position: relative;
    top: 25px;
    
}

.tab-buttons {
    height: 65px;
    
}

.tab-bar {
    height: 15px;
    box-shadow: 0 -10px 8px -10px gray;
}

.tab1-interview-header {
    background-color: #5EA0BE;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 80px;
}

.tab1-interview-header-title {
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;

}

.back-button {
    position: relative;
    bottom: 37px;
    left: 10px;
}

.title {
    text-align: center;
    font-size: 30px;

}

.lines {
    line-height: 30%;
}

.text2 {
    margin-bottom: -15px;
}


