<ion-header>
  <ion-toolbar>
    <ion-title>Interview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="interview-page-div"> 
    <h1 class="interview-page-title">How To Do An Interview</h1>
    
    <div class="iframe-container">
      <iframe width="300" height="265"  src="https://www.youtube.com/embed/aTHAZhxT4gg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="interview-page-text">
      <h1><strong>Know Yourself</strong></h1>
      <h4>Make a few lists</h4>
      <ul>
        <h5>-Your top strengths</h5>
        <h5>-Your best skills</h5>
        <h5>-Your biggest achievements</h5>
      </ul>
      <h1><strong>Research the Job You’ll be Interviewing For</strong></h1>
      <h4>Read job description!</h4>
      <ul>
        <h5>What is the company known for? What do they stand for?</h5>
      </ul>
    </div>

  </div>

</ion-content>

<ion-tabs class="ion-tabs">

  <ion-tab-bar class = "tab-bar" slot="bottom">
    
    <ion-tab-button [routerLink]="['/tabs/tab1']" class="tab-buttons" tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Guide</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab2']" class="tab-buttons" tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>



